# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science tools
- Create arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Plotly

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Shwu Yun